/* global rules */
:root {
  /* --main-color: #00c1fc;
  --main-color-alt: #00a6ed; */
  --main-color: #7800fc;
  --main-color-alt: #4e02b1;
  --section-background-color: #ebebeb;
  --main-transition: 0.3s;
  --header-height: 65px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
}

ul {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media(min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media(min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media(min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

::selection {
  color: white;
  background-color: var(--main-color-alt);
}

/* end global rules */
/* start header */
header {
  background-color: white;
}

header .container {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media(max-width: 767px) {
  header .container {
    height: auto;
    flex-direction: column;
  }
}

header .logo {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--main-color);
  font-size: 1.5rem;
  cursor: pointer;
}

@media(max-width: 767px) {
  header .logo {
    font-size: 1.3rem;
    margin-top: 5px;
  }
}

header .links {
  display: flex;
  height: 100%;
}

header .link a {
  display: block;
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  color: initial;
  text-decoration: none;
  transition: var(--main-transition);
  text-transform: capitalize;
}

@media(max-width: 575px) {
  header .link a {
    padding: 3px 5px;
    font-size: 14px;
  }
}

header .link a:hover {
  background-color: #eee;
}

/* end header */
/* start main */
main {
  background-color: var(--section-background-color);
  min-height: calc(100vh - var(--header-height));
}

main .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 20px;
  padding-top: 30px;
  padding-bottom: 70px;
}

main .card {
  background-color: white;
  padding: 20px;
  flex-basis: 300px;
  border-radius: 10px;
  transition: var(--main-transition);
  box-shadow: 4px 4px 15px #ccc;
}

main .card:hover {
  transform: translateY(-5px);
}

main .card .image {
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

main .card .image::after {
  content: '';
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}

main .card:hover .image::after {
  animation: card-glow 0.6s;
}

main .card img {
  display: block;
  max-width: 100%;
  transition: var(--main-transition);
}

main .card:hover img {
  transform: rotate(4deg) scale(1.15);
}

main .card h3 {
  margin: 10px 0 5px;
  text-transform: uppercase;
  font-size: 1.3rem;
}

main .card .state {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1.1em;
  text-transform: capitalize;
}

main .card .done i {
  color: green;
}

main .card .progress i {
  color: #00a6ff;
  animation: rotation infinite 5s linear;
}

main .card .options {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

main .card a {
  text-decoration: none;
  padding: 5px 20px;
  border-radius: 9999px;
  text-transform: uppercase;
  border: 1px transparent solid;
  transition: var(--main-transition);
}

main .card a.demo {
  background-color: var(--main-color);
  color: white;
}

main .card a.github {
  background-color: black;
  color: white;
}

main .card a.demo:hover {
  background-color: white;
  color: var(--main-color);
  border-color: var(--main-color);
}

main .card a.github:hover {
  background-color: white;
  color: black;
  border-color: black;
}

/* end main */
/* start footer */
footer {
  background-color: var(--main-color-alt);
  color: white;
  padding: 30px 0;
  font-size: 1.1rem;
}

footer ::selection {
  background-color: var(--main-color);
}

footer .container {
  display: flex;
  justify-content: space-between;
}

@media(max-width: 767px) {
  footer .container {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
}

footer .copyright span {
  font-weight: bold;
  text-transform: uppercase;
}

footer .contact {
  display: flex;
  gap: 15px;
}

@media(max-width: 767px) {
  footer .contact {
    justify-content: center;
  }
}

footer .contact a {
  color: white;
}

/* end footer */
/* start animation */
@keyframes rotation {
  to {
    transform: rotate(360deg);
  }
}

@keyframes card-glow {
  from {
    transform: scale(0);
    opacity: 0;
  }
  30% {
    opacity: 0.2;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}

/* end animation */